<script>
if (typeof app.{{{ name }}} != 'function') {
	app.{{{ name }}} = function() {
		// TODO: _variables?

		this.initialize = function(/* PARAMS? */) {
			// TODO: Does this really fit to your spec?
			onComplete();
		};

		this.minimize = function() {
			// TODO
		};

		this.normalize = function() {
			// TODO
		};

		this.fullscreenize = function() {
			// TODO
		};

		this.pause = function() {
			// TODO
		};

		this.unpause = function() {
			// TODO
		};

		this.deinitialize = function() {
			// TODO
		};

		this.handleDeepLinkRoute = function(route) {
			// TODO
		};
	};
}
</script>
