<script>
	if (typeof app.{{{ name }}} != 'function') {
				// Message from Boilerplate: Your turn for doing some magic!
				// TODO
			};

			this.minimize = function() {
				// TODO
			};

			this.normalize = function() {
				// TODO
			};

			this.fullscreenize = function() {
				// TODO
			};

			this.pause = function() {
				// TODO
			};

			this.unpause = function() {
				// TODO
			};

			this.deinitialize = function() {
				// TODO
			};

			this.handleDeepLinkRoute = function(route) {
				// TODO
			};
		};
	}
</script>
